/*Orders*/
.orders {
  color: #777;
  .workname {
    font-weight: bold;
    color: $brand-primary-hue-light;
  }
  .year {
    font-size: 1.25em;
  }
  .btn {
    position: relative;
    padding-left: 10px;
    text-align: left;
    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
    }
    .notification-count {
      width: 25px;
      height: 25px;
      top: 5px;
      right: 5px;
      line-height: 25px;
      background-color: #40A05D;
    }
  }
  .btn-success:hover {
    .notification-count {
      background-color: #3A9254;
    }
  }
}