$support-min-width: 320px;

$breakpoints: (
  'xs': (max-width: $support-min-width),
  'sm': (max-width: 768px),
  'md': (max-width: 992px),
  'lg': (max-width: 1200px)
);

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error 'Incorrect `#{$breakpoint}`. ';
  }
}

$bezie-1: cubic-bezier(0.4, 1, 0.3, 1);
//$bezie-2: cubic-bezier(0,.42,.4,1.21);

$font-family-sans-serif:  'Ubuntu', sans-serif !default;
//$font-family-serif:       'Roboto', sans-serif !default;


$brand-default:           #ffffff;
$brand-default-hue:       #d8d8d8;
$brand-primary:           #475577;
$brand-primary-hue:       #364059;
$brand-primary-hue-light: #5C6D99;
$brand-success:           #5FBF7C;
$brand-success-hue: 	  #46AF65;
$brand-info:              #39bee8;
$brand-info-hue:          #34aed4;
$brand-warning:           #E87C50;
$brand-warning-hue:       #E98B39;
$brand-danger:            #EA6153;
$brand-danger-hue:        #e25da0;

$text-light:      		  #ffffff;
$text-dark:      		  #333333;

$grid-padding: 			  20px;
